body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: aquamarine;
}

button {
    margin-top: 10px;
    color: #fff;
    background-color:blue;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
    cursor:pointer;
}